@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* Whole document: */
body{
  font-family: 'Lato';
  font-size: 14pt;
}
/* Headers */
h1{
  font-size: 26pt;
}
h2{
  font-size: 24pt;
}
h3{
  font-size: 22pt;
}
h4{
  font-size: 20pt;
}
h5{
  font-size: 18pt;
}
h6{
  font-size: 16pt;
}
/* Tables */
table {
  font-size: 12pt;
}
